body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  border-top: 1px solid rgba(0,0,0,0.12);
  color: #087660;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.wrapper {
  div {
    margin-bottom: 15px;
  }
}

.MuiButton-containedPrimary, .MuiButton-containedWarning {
  color: #ffffff !important;
}

.MuiButton-containedError:hover {
  background-color: #db0048 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #0fb794 !important;
}

.MuiButton-containedWarning:hover {
  background-color: #fdae2b !important;
}

.MuiPopover-paper {
  top: 65px !important;
}

.MuiDataGrid-row {
  &:nth-of-type(odd) {
      background-color: #0000000d;
  }
}


  // .MuiDataGrid-virtualScrollerContent {

  //   .MuiDataGrid-virtualScrollerRenderZone {
  //     width: inherit;
  //     .MuiDataGrid-row {
        
  //       width: inherit;
  //       .MuiDataGrid-cell {
  //         margin-right: 20px;
  //         min-width: calc((100% / 7) - 20px) !important;

  //       }
  //     }
  //   }
  // }
